$input-accent: #efeeee;
$primary-color: #3db286;
$primart-text-color: #fff5f5;
$secondart-text-color: #938f8f;

@mixin descriptionFonts {
  color: rgb(101, 116, 139);
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../../public/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.login-flex-container {
  display: flex;
  overflow: hidden;

  h1 {
    color: $primart-text-color;
    line-height: 1.5rem;
    font-size: 5rem;
  }

  h2 {
    font-family: Roboto;
    font-weight: bold;
    font-size: 2.375rem;
  }

  .sign-in {
    width: 32rem;
    background-color: #efefef;
    border-radius: 1rem;
    border: 1px #efefef;
    margin-right: 6rem;
    margin-left: 3rem;
    opacity: 0.99;

    .login-content {
      width: 80%;

      form {
        width: 100%;
        margin-top: 1rem;

        .forgot-password {
          @include descriptionFonts;
          span {
            color: #1565c0;
            cursor: pointer;
          }
        }
      }

      .break-line {
        height: 0.1rem;
        width: 125%;
        background-color: #0a1931;
      }
    }
  }

  .side-info {
    width: 60rem;
  }

  .item {
    display: flex;
    justify-content: center;
    align-items: center;

    .login-content {
      .signin-title {
        color: rgb(18, 24, 40);
        font-size: 2rem;
        font-family: "Inter", sans-serif;
        font-weight: 700;
        margin: 0;
      }

      .description {
        @include descriptionFonts;
        display: block;
        margin-bottom: 1rem;
      }

      #main-logo {
        max-width: 100%;
      }
    }
  }
}
