.layout {
  height: inherit;
  display: grid;
  grid-template-columns: 15% 1fr;

  @media (max-width: 1660px) {
    grid-template-columns: 19% 1fr;
  }
  @media (max-width: 1024px) {
    grid-template-columns: 25% 1fr;
  }
}

.content {
  display: grid;
  grid-template-rows: 9% 1fr;
  height: 100%;
  background-color: #f9fafc;
}

.page-container {
  margin: 0% 4%;

  .page-title {
    font-weight: 700;
    font-size: 2rem;
  }
}
