// align center
.vcenter {
  margin: auto 0;
}

.header {
  margin: 0rem 2rem;
  font-family: Montserrat;
  font-size: 1.25rem;
  font-weight: 400;
  display: flex;
  flex-wrap: nowrap;
  gap: 1rem;
  border-bottom: 0.2rem solid black;

  .page-title {
    display: grid;
    width: 70%;
    font-size: 3rem;
    padding-left: 3rem;
  }

  .user-region {
    width: 20%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;

    .region-logo {
      width: 40%;
    }

    .user-details {
      width: 60%;
      position: relative;
      top: 0.5rem;

      .user {
        display: block;
      }

      .name {
        font-size: 1rem;
        font-weight: 100;
      }

      .auth {
        font-family: Roboto;
        font-size: 1.2rem;
        font-weight: bolder;
      }
    }
  }

  .logout {
    width: 7%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    text-align: center;

    .icon {
      font-size: 2rem;
      position: relative;
      left: 2rem;
      padding-bottom: 0.5rem;
    }
  }
}
