// Colors
$base-color: #111827;
$base-color-separator: #2d3748;
$base-color-hover: #242a38;
$base-font-accent: #10b981;
$base-font: #d1d5db;

// Function to convert pixels to rem values
@function toRem($value) {
  $remValue: ($value / 16) + rem;
  @return $remValue;
}

// Cover Entire Window
.app {
  width: 100vw;
  height: 100vh;
}

// Grid-Centering Class
.grid-center {
  height: 100%;
  display: grid;
  place-items: center;
}

// Link Cursor Class
.pointer-cursor {
  cursor: pointer;
}
