// Colors
$base-color: #111827;
$base-color-separator: #2d3748;
$base-color-hover: #242a38;
$base-font-accent: #10b981;
$base-font: #d1d5db;
$light-grey-background-color: #fafafa;

// Function to convert pixels to rem values
@function toRem($value) {
  $remValue: ($value / 16) + rem;
  @return $remValue;
}

// Cover Entire Window
.app {
  width: 100vw;
  height: 100vh;
}

// Grid-Centering Class
.grid-center {
  height: 100%;
  display: grid;
  place-items: center;
}

// Paper-Centering Class
.paper-center {
  padding: 4rem 0rem;
  width: 40%;
  display: grid;
  place-items: center;
}

// Light Grey Background Color Class
.light-grey-bg {
  background-color: $light-grey-background-color;
}

// Link Cursor Class
.pointer-cursor {
  cursor: pointer;
}
